node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.parcel-cache
.vscode/
*.tgz
*.log
*.funcache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dist/
.idea/
.DS_Store
Thumbs.db